flags   afR
interval 2
maxlinecpu 0
maxlinecont 0
maxlinenfsm 0
maxlinelvm 0
maxlinemdd 0
maxlineintf 2
maxlinedisk 2
cpucritperc 70
memcritperc 90
dskcritperc 80
netcritperc 60
ownprocline   PID:20 PPID:10 SYSCPU:15 USRCPU:15 VGROW:14 VSIZE:12 RGROW:14 RSIZE:12 ST:8 EXC:7 S:11 SORTITEM:18 CMD:20
ownsysprcline PRCNPROC:8 PRCSYS:8 PRCUSER:8 BLANKBOX:0 PRCNDSLEEPING:7 PRCNSLEEPING:7 PRCNRUNNING:7 PRCNZOMBIE:7 PRCCLONES:4 PRCNNEXIT:6
owncplline    CPLAVG1:4 CPLAVG5:3 CPLAVG15:2 BLANKBOX:0 CPLCSW:6 CPLINTR:5 BLANKBOX:0 CPLNUMCPU:1
ownallcpuline   CPUSYS:8 CPUUSER:7 CPUIRQ:4 CPUIDLE:5 CPUWAIT:6 CPUSTEAL:1 CPUGUEST:3 BLANKBOX:0 CPUFREQ:2
ownonecpuline CPUISYS:8 CPUIUSER:7 CPUIIRQ:4 CPUIIDLE:5 CPUIWAIT:6 CPUISTEAL:1 CPUIGUEST:3 BLANKBOX:0 CPUIFREQ:2
owndskline    DSKNAME:8 DSKBUSY:7 DSKNREAD:6 DSKNWRITE:6 DSKKBPERRD:4 DSKKBPERWR:4 DSKMBPERSECRD:5 DSKMBPERSECWR:5 DSKAVQUEUE:1 DSKAVIO:5
ownmemline    MEMTOT:2 MEMFREE:5 MEMCACHE:3 MEMDIRTY:1 MEMBUFFER:3 MEMSLAB:3 RECSLAB:3 BLANKBOX:0 HUPTOT:2 HUPUSE:2
ownswpline   SWPTOT:3 SWPFREE:4 BLANKBOX:0 BLANKBOX:0 BLANKBOX:0 BLANKBOX:0 BLANKBOX:0 BLANKBOX:0 SWPCOMMITTED:5 SWPCOMMITLIM:6
ownpagline   PAGSCAN:3 PAGSTALL:1 BLANKBOX:0 PAGSWIN:4 PAGSWOUT:3
ownnetnetline   NETNETWORK:5 NETIPI:4 NETIPO:4 NETIPFRW:4 NETIPDELIV:4 BLANKBOX:0 BLANKBOX:0 BLANKBOX:0 NETICMPIN:1 NETICMPOUT:1
ownnetifline  NETNAME:8 NETPCKI:7 NETPCKO:7 NETSPEEDIN:6 NETSPEEDOUT:6 NETCOLLIS:3 NETMULTICASTIN:2 NETRCVERR:5 NETSNDERR:5 NETRCVDROP:4 NETSNDDROP:4
ownnettrline   NETTRANSPORT:9 NETTCPI:8 NETTCPO:8 NETUDPI:8 NETUDPO:8  NETTCPACTOPEN:6  NETTCPPASVOPEN:5  NETTCPRETRANS:4  NETTCPINERR:3  NETTCPORESET:20 NETUDPNOPORT:1 NETUDPINERR:3
